<!DOCTYPE html>
<html>

<head>
  <title>Markdown Editor Next</title>
  <meta charset="utf-8" />

  <script src="../../../node_modules/jquery/dist/jquery.js"></script>
  <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>

  <link rel="stylesheet" href="module/bootstrap-custom.css" />
  <link rel="stylesheet" href="theme/uoj-theme.css" />
  <link rel="stylesheet" href="base/index.css" />

  <!-- CodeMirror -->
  <script src="../../../node_modules/codemirror/lib/codemirror.js"></script>
  <script src="../../../node_modules/codemirror/mode/xml/xml.js"></script>
  <script src="../../../node_modules/codemirror/mode/markdown/markdown.js"></script>
  <script src="../../../node_modules/codemirror/addon/comment/comment.js"></script>
  <script src="../../../node_modules/codemirror/addon/dialog/dialog.js"></script>
  <script src="../../../node_modules/codemirror/addon/edit/closebrackets.js"></script>
  <script src="../../../node_modules/codemirror/addon/edit/closetag.js"></script>
  <script src="../../../node_modules/codemirror/addon/edit/continuelist.js"></script>
  <script src="../../../node_modules/codemirror/addon/edit/matchbrackets.js"></script>
  <script src="../../../node_modules/codemirror/addon/edit/matchtags.js"></script>
  <script src="../../../node_modules/codemirror/addon/fold/comment-fold.js"></script>
  <script src="../../../node_modules/codemirror/addon/fold/foldcode.js"></script>
  <script src="../../../node_modules/codemirror/addon/fold/foldgutter.js"></script>
  <script src="../../../node_modules/codemirror/addon/fold/markdown-fold.js"></script>
  <script src="../../../node_modules/codemirror/addon/fold/xml-fold.js"></script>
  <script src="../../../node_modules/codemirror/addon/scroll/annotatescrollbar.js"></script>
  <script src="../../../node_modules/codemirror/addon/scroll/scrollpastend.js"></script>
  <script src="../../../node_modules/codemirror/addon/search/jump-to-line.js"></script>
  <script src="../../../node_modules/codemirror/addon/search/matchesonscrollbar.js"></script>
  <script src="../../../node_modules/codemirror/addon/search/match-highlighter.js"></script>
  <script src="../../../node_modules/codemirror/addon/search/search.js"></script>
  <script src="../../../node_modules/codemirror/addon/search/searchcursor.js"></script>
  <script src="../../../node_modules/codemirror/addon/selection/active-line.js"></script>

  <link rel="stylesheet" href="../../../node_modules/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="../../../node_modules/codemirror/addon/dialog/dialog.css" />
  <link rel="stylesheet" href="../../../node_modules/codemirror/addon/fold/foldgutter.css" />
  <link rel="stylesheet" href="../../../node_modules/codemirror/addon/search/matchesonscrollbar.css" />

  <!-- editor -->
  <script src="../models/editor-model copy.js"></script>
  <!-- <script src="../models/event-handlers.js"></script>
  <script src="../controllers/event-registry.js"></script>
  <script src="../index.js"></script> -->

  <link rel="stylesheet" href="layout/editor.css" />

  <!-- preview renderer -->
  <script src="../../../node_modules/marked/marked.min.js"></script>

  <script src="../../../node_modules/katex/dist/katex.js"></script>
  <script src="../../../node_modules/katex/dist/contrib/auto-render.js"></script>
  <link rel="stylesheet" href="../../../node_modules/katex/dist/katex.css" />

  <script src="../../plugins/Hightlight/prism/prism.min.js"></script>
  <link rel="stylesheet" href="../../plugins/Hightlight/prism/prism.css" />

  <script src="../controllers/preview-renderer.js"></script>
  <link rel="stylesheet" href="state/render.css" />

  <!-- pages: math, image -->
  <script src="../../plugins/LatexMath/math-panel.js"></script>
  <link rel="stylesheet" href="../../plugins/LatexMath/math-panel.css" />

  <script src="../../plugins/Image/image.js"></script>
  <link rel="stylesheet" href="../../plugins/Image/image.css" />
</head>

<body>
  <div class="text-right" style="padding-right: 20px">
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a id="new"> <img src="../../../assets/file_add.png" /> 新建 </a>
      </li>
      <li>
        <a id="open"><img src="../../../assets/file.png" /> 打开 </a>
      </li>
      <li>
        <a id="save"><img src="../../../assets/diskette.png" /> 保存 </a>
      </li>
      <li><a id="print"> 打印 </a></li>
      <li><a id="button-math-editor"> 数学公式编辑器 </a></li>
      <li><a id="button-image-selector"> 图片管理 </a></li>
      <span id="save-tag">*</span><label>Filename: </label><span id="filename">[no document loaded]</span>
    </ul>
  </div>

  <div id="div-image-selector" style="display: none">
    <div class="row text-center">
      <input class="form-control input-sm top-buffer-md bot-buffer-md" style="display: inline; width: 200px"
        id="paste-img" placeholder="在此处粘贴图片" />
      <button class="btn btn-primary btn-sm" onclick="$('#openImg').click()">
        浏览图片
      </button>
      <input style="display: none" id="openImg" type="file" />
    </div>
    <div id="img-pool"></div>
    <hr />
  </div>

  <div id="div-math-editor" style="display: none">
    <div class="row text-center">
      <div class="col-md-6" style="float: right; z-index: 2; background: rgba(255, 255, 255, 0.5)">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab-color" data-toggle="tab">颜色</a>
          </li>
          <li><a href="#tab-big-op" data-toggle="tab">大运算符</a></li>
          <li><a href="#tab-mid-op" data-toggle="tab">运算符</a></li>
          <li><a href="#tab-bf-op" data-toggle="tab">指示符</a></li>
          <li><a href="#tab-cmp" data-toggle="tab">逻辑运算符</a></li>
          <li><a href="#tab-bracket" data-toggle="tab">括号</a></li>
          <li><a href="#tab-space" data-toggle="tab">空格</a></li>
          <li><a href="#tab-symbol" data-toggle="tab">奇怪的符号</a></li>
          <li><a href="#tab-sup" data-toggle="tab">上下标</a></li>
          <li><a href="#tab-arrow" data-toggle="tab">箭头</a></li>
          <li><a href="#tab-func" data-toggle="tab">函数</a></li>
          <li><a href="#tab-multi" data-toggle="tab">多行表达式</a></li>
          <li>
            <a onclick="window.open('https://katex.org/docs/supported.html')">说明书链接</a>
          </li>
        </ul>
        <div class="top-buffer-md"></div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-color"></div>
          <div class="tab-pane" id="tab-big-op"></div>
          <div class="tab-pane" id="tab-mid-op"></div>
          <div class="tab-pane" id="tab-bf-op"></div>
          <div class="tab-pane" id="tab-cmp"></div>
          <div class="tab-pane" id="tab-bracket"></div>
          <div class="tab-pane" id="tab-space"></div>
          <div class="tab-pane" id="tab-symbol"></div>
          <div class="tab-pane" id="tab-sup"></div>
          <div class="tab-pane" id="tab-arrow"></div>
          <div class="tab-pane" id="tab-func"></div>
          <div class="tab-pane" id="tab-multi"></div>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div class="blog-content-md-editor-in">
    <div class="col-xs-6" style="padding: 0; height: 100%">
      <div id="editor" style="height: 100%"></div>
    </div>
    <div class="col-xs-6" style="height: 100%; overflow: auto" deep="6">
      <article id="editor-preview"></article>
      <div style="height: 300px"></div>
    </div>
  </div>

  <input style="display: none" id="openFile" type="file" />
  <input style="display: none" id="saveFile" type="file" nwsaveas />
</body>

</html>